layout {
    tab {
        pane split_direction="vertical" {
            filepicker size=40 name="picker"
            pane split_direction="horizontal" {
                 editor size="80%"
                 term
            }
        }
    }

    // TEMPLATES
    pane_template name="filepicker" {
        command "zide-pick"
    }

    pane_template name="editor" {
        command "$EDITOR"
    }

    pane_template name="term" {
        name "term"
    }

    default_tab_template {
        children
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
        pane size=1 borderless=true {
             plugin location="zjstatus" {
                format_left   "{mode}{tabs}"
            }
    	}
	}
}
